.container {
    width: 100%;
    height: 100vmax;
    background-color: #023047 ;
    background-size: cover;
}


.navbar {
    width: auto;
    height: 2rem;
    margin: auto;
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
    border-radius: 0px;

}

.logo {
    width: 130px;
    cursor: pointer;
   
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    color: rgb(10, 9, 9);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    

}
   

   a:link {
    color: black
 }
 ul li a {
    text-decoration: none;
    }
    a:visited {
        color: grey
       
    }
    a :hover{
        color: yellow
    
    }
    a:active{
        color:#f00
    }
